.button {
    -fx-font-weight: bold;
}

.jfx-date-picker .text-field{
-jfx-unfocus-color: blue;
-fx-prompt-text-fill: blueviolet;
-fx-text-fill: red;
}


.jfx-text-field, .jfx-password-field {
    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: WHITE;
    -jfx-unfocus-color: WHITE;
}

.combo-box .cell:selected {
    -fx-text-fill: white;
}
.chart-bar {
    -fx-bar-fill: #e6be8a; 
}
